<div class="col-md-8 center-block">
  <h1>Editing Summary</h1>

<%= render 'form', summary: @summary, class: "btn btn-primary radius" %>

<%= link_to 'Show', @summary %> |
<%= link_to 'Back', summaries_path %>

</div>
