<div class="col-md-8 center-block">
  <% if @summary.parent_id.nil? %>
    <h1>Editing Parent Summary</h1>
  <% else %>
    <h1>Editing Summary</h1>
  <% end %>

<%= render 'form', summary: @summary, class: "btn btn-primary radius" %>

<%= link_to 'Show', @summary %> |
<%= link_to 'Back', summaries_path %>

</div>
