
<div class="col-md-8 center-block">
  <h1>Summaries</h1>
  <ul class="summaries">
    <% @summaries.each do |s|  %>
      <li><%= link_to "#{s.number} – #{s.name}", s, class: "btn" %></li>
    <% end %>
  </ul>


  <br>

  <%= link_to 'New Summary', new_summary_path, class: 'btn btn-primary tiny' %>
</div>