
<div class="col-md-8 center-block">
  <h1>Summaries</h1>
  <ul class="summaries">
    <% @summaries.each do |s|  %>
      <li><%= link_to "#{s.number} – #{s.name}", s.updates.last, class: "btn" %>
        <ul class="babies">
          <% s.updates.order(date: :desc).each do |u|  %>
            <li>
              <%= link_to u.date.try(:strftime, '%m/%d'), u %>
            </li>
          <% end %>
          <li><%= link_to s.date.try(:strftime, '%m/%d'), s %></li>
        </ul>
      </li>
    <% end %>
  </ul>


  <br>

  <%= link_to 'New Summary', new_summary_path, class: 'btn btn-primary tiny' %>
</div>