
<% unless current_user  %>
  <div class="col-md-8 center-block">
    <h1 class="center">Status Summary</h1>
  </div>
<% else  %>
  <div class="col-md-8 center-block">
    <h2 class="center">Summaries</h2>
  <% @summaries.each do |s|  %>
    <ul class="summaries">
      <%= link_to summary_path(s) do %>
      <li><%= s.number %> – <%= s.name %></li>
      <% end %>
    </ul>
  <% end  %>
  </div>
<% end  %>

